# Virtual Environments
.venv/
env/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# PyInstaller Specific
build/
dist/
*.spec

# Application Specific Artifacts
audio/
profiles/
app_icon.ico
app_icon.png
down_arrow.svg
.last_mic.txt

# Editor / IDE
.vscode/
.idea/
*.swp
.DS_Store

RELEASE_NOTES.md